<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAP_WEB_SERVICE_KEY</key>
	<string>$(AMAP_WEB_SERVICE_KEY)</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.wakelight.bg.webdav-import</string>
	</array>
	<key>DOUBAO_API_KEY</key>
	<string>$(DOUBAO_API_KEY)</string>
	<key>MAPBOX_ACCESS_TOKEN</key>
	<string>$(MAPBOX_ACCESS_TOKEN)</string>
	<key>SILICONFLOW_API_KEY</key>
	<string>$(SILICONFLOW_API_KEY)</string>
</dict>
</plist>
